/* Start all css */

* {
    padding: 0;
    margin: 0;
}
/* .fixed-width {
    width: 1000px;
    margin: 0;
} */

/* Start header css */
.header {
    background-color: #34495E;
    padding: 65px 0px;
}
ul {
    text-align: center;
}
ul li {
    display: inline-block;

    margin: 0px 10px
}
ul li a {
    color: #2A4661;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    background-color: #E67E22;
    display: inline-block;
}
ul li div {
    width: 5px;
    height: 15px;
    background-color: white;
    margin: auto;
}
ul li p {
    color: #E67E22;
    margin: 5px;
}
/* End header css */

/* Start service css */
.service {
    background-color: #E1E1E1;
}
.content {
    border-bottom: 5px dashed #3C5E3C;
    padding: 25px 0px;
}
.content h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3C5E3C;
    font-size: 60px;
    margin-bottom: -24px;
}
.service-box {
    text-align: center;
    padding: 30px 0px;
}
.service-box .box-1 {
    width: 250px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    padding-top: 15px;
    box-shadow: 3px 3px 15px black;
    transition: 0.5s;
}
.service-box .box-1:hover {
    background-color: #2990D9;
}
.service-box .box-1 .box-1img {
    font-size: 65px;
    color: #3C5E3C;
}
.service-box .box-1 h3 {
    color: #5C1B1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}
.service-box .box-1 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 220px;
    margin: auto;
}
.service-box .box-2 {
    width: 250px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    display: inline-block; 
    padding-top: 15px;
    margin: 0px 75px;
    box-shadow: 3px 3px 15px black;
    transition: 0.5s;
}
.service-box .box-2:hover {
    background-color: #2990D9;
}
.service-box .box-2 .box-2img {
    font-size: 75px;
    color: #3C5E3C;
}
.service-box .box-2 h3 {
    color: #5C1B1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    padding: 15px 0px;
}
.service-box .box-2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 220px;
    margin: auto;
}
.service-box .box-3 {
    width: 250px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    padding-top: 15px; 
    box-shadow: 3px 3px 15px black;
    transition: 0.5s;
}
.service-box .box-3:hover {
    background-color: #2990D9;
}
.service-box .box-3 .box-3img {
    font-size: 75px;
    color: #3C5E3C;
}
.service-box .box-3 h3 {
    color: #5C1B1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    padding: 15px 0px;
}
.service-box .box-3 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 220px;
    margin: auto;
}
/* End service css */

/* Start contact css */
.contact {
    background-color: #9B59B6;

}
.main-box {
    height: 340px;
    position: relative;
    padding: 47px 0px;
}
.main-box .box-1 {
    width: 100px;
    height: 100px;
    background-color: #34495E;
    border: 5px dashed #E47D22;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -26px;
    left: 135px;
}
.main-box .box-2 {
    width: 100px;
    height: 100px;
    background-color: #34495E;
    border: 5px dashed #E47D22;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -31px;
    left: 285px;
}
.main-box .box-3 {
    width: 100px;
    height: 100px;
    background-color: #34495E;
    border: 5px dashed #E47D22;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -244px;
    right: 134px;

}
.main-box .box-4 {
    width: 100px;
    height: 100px;
    background-color: #34495E;
    border: 5px dashed #E47D22;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -244px;
    right: 285px;
    
}
.main-box .box-img {
    width: 120px;
    height: 120px;
    border: 5px solid #E47D22;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -405px;
}
.main-box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main-box .box-content {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #78cb7876;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.box-img:hover .box-content {
    opacity: 1;
    visibility: visible;
}
.main-box .box-content h3 {
    margin-top: 62px;
}
.main-box .contact-box {
    text-align: center;
    margin-top: -378px;
}
.contact-box .text {
    padding: 8px;
    border-radius: 15px;
}
.contact-box .mail {
    padding: 8px;
    border-radius: 15px;
}
.contact-box .button {
    padding: 8px 20px;
    border-radius: 15px;
    background-color: #9B59B6;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.contact-box .button:hover {
    background-color: white;
    color: #9B59B6;
}
/* End contact css */

/* Start footer css */
.foot {
    background-color: #2C3E50;
    padding-bottom: 30px;
    padding-top: 1px;
}
.foot-content h4 {
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    opacity: 0.7;
}
.foot-content {
    margin-top: 20px;
}
/* End footer css */